In [26]:
pip install backtrader

Collecting backtrader
  Downloading backtrader-1.9.76.123-py2.py3-none-any.whl (410 kB)
Installing collected packages: backtrader
Successfully installed backtrader-1.9.76.123
Note: you may need to restart the kernel to use updated packages.

In [30]:
# download file
!curl -s "https://data.binance.vision/data/spot/daily/trades/BTCUSDT/BTCUSDT-trades-2022-03-01.zip" -o BTCUSDT-2022-3-01.zip
!curl -s "https://data.binance.vision/data/spot/daily/trades/BTCUSDT/BTCUSDT-trades-2022-03-02.zip" -o BTCUSDT-2022-3-02.zip
!curl -s "https://data.binance.vision/data/spot/daily/trades/BTCUSDT/BTCUSDT-trades-2022-03-03.zip" -o BTCUSDT-2022-3-03.zip

In [42]:
import pandas as pd
import backtrader as bt
from zipfile import ZipFile
import datetime
import os.path
import sys

In [39]:
file_name = "BTCUSDT-2022-3-03.zip"
  
# opening the zip file in READ mode
with ZipFile(file_name, 'r') as zip:
    # printing all the contents of the zip file
    zip.printdir()
  
    # extracting all the files
    print('Extracting all the files now...')
    zip.extractall()
    print('Done!')

File Name                                             Modified             Size
BTCUSDT-trades-2022-03-03.csv                  2022-03-04 00:19:20     96052641
Extracting all the files now...
Done!

In [37]:
first = pd.read_csv("BTCUSDT-trades-2022-03-01.csv")

,1274557543,43160.00000000,0.00056000,24.16960000,1646092800000,True,True.1
0,1274557544,43160.01,0.00052,22.443205,1646092800003,False,True
1,1274557545,43160.01,0.00182,78.551218,1646092800004,False,True
2,1274557546,43160.01,0.00631,272.339663,1646092800005,False,True
3,1274557547,43160.00,0.00229,98.836400,1646092800006,True,True
4,1274557548,43160.00,0.00739,318.952400,1646092800007,True,True
...,...,...,...,...,...,...,...
1866865,1276424409,44421.20,0.00120,53.305440,1646179199997,True,True
1866866,1276424410,44423.47,0.00057,25.321378,1646179199997,False,True
1866867,1276424411,44421.20,0.00029,12.882148,1646179199998,True,True
1866868,1276424412,44423.47,0.00037,16.436684,1646179199998,False,True
1866869,1276424413,44421.20,0.00125,55.526500,1646179199999,True,True

In [40]:
second = pd.read_csv("BTCUSDT-trades-2022-03-02.csv")

,1276424414,44421.20000000,0.00097000,43.08856400,1646179200000,True,True.1
0,1276424415,44423.46,0.00154,68.412128,1646179200002,False,True
1,1276424416,44423.46,0.00039,17.325149,1646179200003,False,True
2,1276424417,44421.20,0.00328,145.701536,1646179200003,True,True
3,1276424418,44423.46,0.00075,33.317595,1646179200005,False,True
4,1276424419,44423.46,0.00276,122.608750,1646179200007,False,True
...,...,...,...,...,...,...,...
1653125,1278077540,43892.98,0.00040,17.557192,1646265599998,True,True
1653126,1278077541,43892.98,0.00159,69.789838,1646265599999,True,True
1653127,1278077542,43892.99,0.00064,28.091514,1646265599999,False,True
1653128,1278077543,43892.98,0.00054,23.702209,1646265599999,True,True
1653129,1278077544,43892.98,0.00061,26.774718,1646265599999,True,True

In [41]:
third = pd.read_csv("BTCUSDT-trades-2022-03-03.csv")

,1278077545,43892.99000000,0.00158000,69.35092420,1646265600000,False,True
0,1278077546,43892.99,0.00066,28.969373,1646265600000,False,True
1,1278077547,43892.98,0.00136,59.694453,1646265600000,True,True
2,1278077548,43892.99,0.00045,19.751846,1646265600000,False,True
3,1278077549,43892.98,0.00048,21.068630,1646265600001,True,True
4,1278077550,43892.99,0.00029,12.728967,1646265600001,False,True
...,...,...,...,...,...,...,...
1289314,1279366860,42454.01,0.00124,52.642972,1646351999996,False,True
1289315,1279366861,42454.00,0.00257,109.106780,1646351999996,True,True
1289316,1279366862,42454.01,0.00054,22.925165,1646351999997,False,True
1289317,1279366863,42454.01,0.00198,84.058940,1646351999997,False,True
1289318,1279366864,42454.00,0.00052,22.076080,1646351999999,True,True

# Trade Strategy

In [43]:
class MyStrategy(bt.Strategy):

    def __init__(self):
        self.sma = bt.indicators.SimpleMovingAverage(period=15)

    def next(self):
        if self.sma > self.data.close:
            # Do something
            pass

        elif self.sma < self.data.close:
            # Do something else
            pass

In [ ]:
class TestStrategy(bt.Strategy):
    def log(self, txt, dt=None):
        dt = dt or self.datas[0].datetime.date(0)
        print('%s, %s' % (dt.isoformat(), txt))

    def __init__(self):
        self.dataclose = self.datas[0].close
        self.order = None
        self.buyprice = None
        self.buycomm = None

        self.sma = bt.indicators.SimpleMovingAverage(self.datas[0], period=15)
        self.rsi = bt.indicators.RelativeStrengthIndex()

    def notify_order(self, order):
        if order.status in [order.Submitted, order.Accepted]:
            return

        if order.status in [order.Completed]:
            if order.isbuy():
                self.log(
                    'BUY EXECUTED, Price: %.2f, Cost: %.2f, Comm %.2f' %
                    (order.executed.price,
                     order.executed.value,
                     order.executed.comm))

                self.buyprice = order.executed.price
                self.buycomm = order.executed.comm
            else:  # Sell
                self.log('SELL EXECUTED, Price: %.2f, Cost: %.2f, Comm %.2f' %
                         (order.executed.price,
                          order.executed.value,
                          order.executed.comm))

            self.bar_executed = len(self)

        elif order.status in [order.Canceled, order.Margin, order.Rejected]:
            self.log('Order Canceled/Margin/Rejected')

        # Write down: no pending order
        self.order = None

    def notify_trade(self, trade):
        if not trade.isclosed:
            return

        self.log('OPERATION PROFIT, GROSS %.2f, NET %.2f' %
                 (trade.pnl, trade.pnlcomm))

    def next(self):
        self.log('Close, %.2f' % self.dataclose[0])
        print('rsi:', self.rsi[0])
        if self.order:
            return

        if not self.position:
            if (self.rsi[0] < 30):
                self.log('BUY CREATE, %.2f' % self.dataclose[0])
                self.order = self.buy(size=500)

        else:
            if (self.rsi[0] > 70):
                self.log('SELL CREATE, %.2f' % self.dataclose[0])
                self.order = self.sell(size=500)


if __name__ == '__main__':
    cerebro = bt.Cerebro()
    cerebro.addstrategy(TestStrategy)


    # Create a Data Feed
    data = bt.feeds.PandasData(dataname="first")

    cerebro.adddata(data)
    cerebro.broker.setcash(1000.0)
    print('Starting Portfolio Value: %.2f' % cerebro.broker.getvalue())
    cerebro.run()
    print('Final Portfolio Value: %.2f' % cerebro.broker.getvalue())
    cerebro.plot()